@import './common';

body {
	background: #01131e;
	padding: 50px 10px;
	font-family: 'Roboto mono';
	color: #ffffff;
}

.timer {
	&__container {
		max-width: 431px;
		margin: 0 auto;
		border-radius: 4px;
		background: #011c2c;
		padding: 0 21px;
		padding-top: 18px;
		padding-bottom: 35px;
		border-bottom: 8px solid #fd6259;
		display: flex;
		flex-direction: column;
		row-gap: 37px;
		text-align: center;
	}

	&__heading {
		font-size: 22px;
		line-height: 29px;
	}

	&__numbers {
		display: flex;
		justify-content: center;
		column-gap: 30px;
	}

	&__number {
	}

	&__number-count {
		padding: 0 27px;
		font-size: 45px;
		line-height: 59px;
		border: 1px solid #dbdbdb;
		border-radius: 4px;
	}

	&__number-description {
		margin-top: 12px;
	}

	&__buttons {
		display: grid;
		grid-template-columns: repeat(3, 30%);
		justify-content: center;
		column-gap: 20px;
	}

	&__button {
		padding: 8px 0;
		border-radius: 3px;
		font-size: 18px;
		line-height: 24px;
		color: #ffffff;
	}
	&__button.start {
		background: #03ae85;
		border: 1px solid #03ae85;
	}
	&__button.pause {
		background: #ffffff00;
		border: 1px solid #d1d1d1;
	}
	&__button.reset {
		background: #fd6259;
		border: 1px solid #fd6259;
	}
	&__button.lap {
		background: #e0c423;
		border: 1px solid #e0c423;
	}

	&__laps {
		max-width: 300px;
		margin: 20px auto;
		border-radius: 4px;
		background: #011c2c;
		padding: 20px 21px;
		padding-bottom: 7px;
	}
	&__head {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 10px;

		&-time {
			text-align: right;
		}
	}

	&__lap {
		margin: 10px 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		&-num {
			margin-left: 10px;
		}
		&-time {
			margin-right: 10px;
		}
	}
}

@media (max-width: 500px) {
	.timer {
		&__number-count {
			padding: 0 15px;
		}
		&__button {
			padding: 8px 15px;
		}
	}
}
